@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
  display: flex;
}

.brand-container {
  background-image: url("../assets/beat-schuler-hO-h0MkyLwY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.form-container {
  flex: 2;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, .1);
  padding-top: 20px;
  margin-top: 20vh;
}

.logo-text {
  position: relative;
  bottom: 5px;
}


.logo {
  width: 100px;
  height: auto;
}
